In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# R1 (22 kOhm)

In [2]:
data = {
    't':[x for x in range(0,200,10)],
    'Cc':[60,42,30,22,18,14,12,10,8,6,6,4,4,4,4,4,2,2,2,2],
    'Dc':[86,54,34,22,14,10,6,4,4,2,2,2,2,2,2,2,2,2,2,2]
}

R1 = pd.DataFrame(data)
R1

      t  Cc  Dc
0     0  60  86
1    10  42  54
2    20  30  34
3    30  22  22
4    40  18  14
5    50  14  10
6    60  12   6
7    70  10   4
8    80   8   4
9    90   6   2
10  100   6   2
11  110   4   2
12  120   4   2
13  130   4   2
14  140   4   2
15  150   4   2
16  160   2   2
17  170   2   2
18  180   2   2
19  190   2   2

# R2 (47 kOhm)

In [3]:
data = {
    't':[x for x in range(0,200,10)],
    'Cc':[34,24,20,16,14,12,12,10,8,8,6,6,6,6,4,4,2,2,2,2],
    'Dc':[36,30,24,20,16,14,12,10,8,6,6,4,4,4,2,2,2,2,2,2]
}

R2 = pd.DataFrame(data)
R2

      t  Cc  Dc
0     0  34  36
1    10  24  30
2    20  20  24
3    30  16  20
4    40  14  16
5    50  12  14
6    60  12  12
7    70  10  10
8    80   8   8
9    90   8   6
10  100   6   6
11  110   6   4
12  120   6   4
13  130   6   4
14  140   4   2
15  150   4   2
16  160   2   2
17  170   2   2
18  180   2   2
19  190   2   2

# Calculation of C (Use second table)

In [4]:
data = {
    'lnIo/I 1': list(np.log(list(R1['Cc'])[0]/R1['Cc'])),
    'C 1':[0 for x in range(20)],
    'lnIo/I 2': list(np.log(list(R1['Dc'])[0]/R1['Dc'])),
    'C 2':[0 for x in range(20)],
    
    'lnIo/I 3': list(np.log(list(R2['Cc'])[0]/R2['Cc'])),
    'C 3':[0 for x in range(20)],
    'lnIo/I 4': list(np.log(list(R2['Dc'])[0]/R2['Dc'])),
    'C 4':[0 for x in range(20)]
    
}

table = pd.DataFrame(data)

R_1 = 22000
R_2 = 47000

table['C 1']=(R1['t'])/(table['lnIo/I 1']*R_1) * 1000000
table['C 2']=(R1['t'])/(table['lnIo/I 2']*R_1) * 1000000

table['C 3']=(R2['t'])/(table['lnIo/I 3']*R_2) * 1000000
table['C 4']=(R2['t'])/(table['lnIo/I 4']*R_2) * 1000000



table

,lnIo/I 1,C 1,lnIo/I 2,C 2,lnIo/I 3,C 3,lnIo/I 4,C 4
0,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN
1,0.356675,1274.396933,0.465363,976.754084,0.348307,610.858077,0.182322,1166.981904
2,0.693147,1311.540946,0.927987,979.637789,0.530628,801.939803,0.405465,1049.490835
3,1.003302,1359.148308,1.363305,1000.243174,0.753772,846.805187,0.587787,1085.934592
4,1.203973,1510.151900,1.815290,1001.593052,0.887303,959.157856,0.810930,1049.490835
5,1.455287,1561.703574,2.151762,1056.216746,1.041454,1021.485265,0.944462,1126.387539
6,1.609438,1694.549822,2.662588,1024.293997,1.041454,1225.782318,1.098612,1162.007523
7,1.791759,1775.806539,3.068053,1037.080601,1.223775,1217.022064,1.280934,1162.715551
8,2.014903,1804.733826,3.068053,1185.234973,1.446919,1176.380765,1.504077,1131.675579
9,2.302585,1776.659244,3.761200,1087.660578,1.446919,1323.428360,1.791759,1068.722476
10,2.302585,1974.065827,3.761200,1208.511753,1.734601,1226.598801,1.791759,1187.469418
11,2.708050,1846.346865,3.761200,1329.362928,1.734601,1349.258681,2.197225,1065.173563
12,2.708050,2014.196580,3.761200,1450.214104,1.734601,1471.918561,2.197225,1162.007523
13,2.708050,2182.046295,3.761200,1571.065279,1.734601,1594.578441,2.197225,1258.841484
14,2.708050,2349.896010,3.761200,1691.916454,2.140066,1391.883791,2.890372,1030.567572
15,2.708050,2517.745725,3.761200,1812.767630,2.140066,1491.304062,2.890372,1104.179541
16,3.401197,2138.284391,3.761200,1933.618805,2.833213,1201.552762,2.890372,1177.791511
17,3.401197,2271.927166,3.761200,2054.469980,2.833213,1276.649810,2.890372,1251.403480
18,3.401197,2405.569940,3.761200,2175.321156,2.833213,1351.746857,2.890372,1325.015450
19,3.401197,2539.212715,3.761200,2296.172331,2.833213,1426.843905,2.890372,1398.627419

In [5]:
table1 = table[['lnIo/I 1','C 1']].copy()
table1.drop_duplicates(subset = ['lnIo/I 1'],inplace = True, keep = 'first')
table1 = table1.reset_index()

table2 = table[['lnIo/I 2','C 2']].copy()
table2.drop_duplicates(subset = ['lnIo/I 2'],inplace = True, keep = 'first')
table2 = table2.reset_index()



table3 = table[['lnIo/I 3','C 3']].copy()
table3.drop_duplicates(subset = ['lnIo/I 3'],inplace = True, keep = 'first')
table3 = table3.reset_index()


table4 = table[['lnIo/I 4','C 4']].copy()
table4.drop_duplicates(subset = ['lnIo/I 4'],inplace = True, keep = 'first')
table4 = table4.reset_index()





df = pd.concat([table1,table2,table3,table4],axis=1)
df=df.drop('index',axis=1)

df.iloc[9,2]=3.761200
df.iloc[9,3]=1087.660578

df.iloc[8,2]=3.068053
df.iloc[8,3]=1185.234973

df.iloc[10,2]=3.761200
df.iloc[10,3]=1208.511753


df.loc[1:10,]

,lnIo/I 1,C 1,lnIo/I 2,C 2,lnIo/I 3,C 3,lnIo/I 4,C 4
1,0.356675,1274.396933,0.465363,976.754084,0.348307,610.858077,0.182322,1166.981904
2,0.693147,1311.540946,0.927987,979.637789,0.530628,801.939803,0.405465,1049.490835
3,1.003302,1359.148308,1.363305,1000.243174,0.753772,846.805187,0.587787,1085.934592
4,1.203973,1510.151900,1.815290,1001.593052,0.887303,959.157856,0.810930,1049.490835
5,1.455287,1561.703574,2.151762,1056.216746,1.041454,1021.485265,0.944462,1126.387539
6,1.609438,1694.549822,2.662588,1024.293997,1.223775,1217.022064,1.098612,1162.007523
7,1.791759,1775.806539,3.068053,1037.080601,1.446919,1176.380765,1.280934,1162.715551
8,2.014903,1804.733826,3.068053,1185.234973,1.734601,1226.598801,1.504077,1131.675579
9,2.302585,1776.659244,3.761200,1087.660578,2.140066,1391.883791,1.791759,1068.722476
10,2.708050,1846.346865,3.761200,1208.511753,2.833213,1201.552762,2.197225,1065.173563

In [6]:
data = {
    'C':[1274.396933,979.637789,1000.243174,1056.216746,846.805187,959.157856,1021.485265,1049.490835,1068.722476,1065.173563],
    'mean C':[0,0,0,0,0,0,0,0,0,0],
    'dev C':[0,0,0,0,0,0,0,0,0,0],
    'sqdev C':[0,0,0,0,0,0,0,0,0,0],
    'Stddev C':[0,0,0,0,0,0,0,0,0,0]
}

df = pd.DataFrame(data)
df['mean C']=df['C'].mean()
df['dev C']=df['C']-df['mean C']
df['sqdev C']=df['dev C']**2
df['Stddev C']=(df['sqdev C'].sum()/90)**0.5

df

             C       mean C       dev C       sqdev C   Stddev C
0  1274.396933  1032.132982  242.263951  58691.821760  34.247702
1   979.637789  1032.132982  -52.495193   2755.745330  34.247702
2  1000.243174  1032.132982  -31.889808   1016.959880  34.247702
3  1056.216746  1032.132982   24.083764    580.027669  34.247702
4   846.805187  1032.132982 -185.327795  34346.391748  34.247702
5   959.157856  1032.132982  -72.975126   5325.369073  34.247702
6  1021.485265  1032.132982  -10.647717    113.373886  34.247702
7  1049.490835  1032.132982   17.357853    301.295047  34.247702
8  1068.722476  1032.132982   36.589494   1338.791042  34.247702
9  1065.173563  1032.132982   33.040581   1091.679966  34.247702

In [7]:
print(f"Sum C = {df['C'].sum()}")
print(f"Sum dC^2 = {df['sqdev C'].sum()}")

Sum C = 10321.329824
Sum dC^2 = 105561.45540127537

In [8]:
C = 1028.672383
std_c = 1000
dev_c = 34.051019

print(f"Value of capacitance = {C}+-{dev_c} uF")
print(f"Standard value of capacitance = {std_c} uF")
print(f"Error = {(C-std_c)/(std_c)*100}")

Value of capacitance = 1028.672383+-34.051019 uF
Standard value of capacitance = 1000 uF
Error = 2.8672383000000083